<ion-view view-title="Home" data-ng-if='!hasAuthorisation'>
  <ion-content>
    <a class='cagol-facebook-button button' data-ng-click='facebookLogin()'>
      <i class='cagol-facebook-button-icon icon ion-social-facebook'></i>
      <span class='cagol-facebook-button-text'>Sign in with Facebook</span>
    </a>
  </ion-content>
</ion-view>

<ion-view view-title="Home" data-ng-show='hasAuthorisation && !selectedClosestBin'>
  <ion-content>
    <ui-gmap-google-map id='globalMap' center='map.center' zoom='18' data-tap-disabled='true'>
      <ui-gmap-marker data-ng-repeat='marker in markers'
        idKey='marker.id'
        options='marker.options'
        coords='marker.position'
        click='marker.click'
        >
      </ui-gmap-marker>
    </ui-gmap-google-map>

    <button class="button button-positive cagol-button"
            data-ng-click='addBin()'>
      <i class='icon ion-plus-round'></i>
      Add Bin
    </button>
  </ion-content>
</ion-view>

<ion-view view-title="Home" data-ng-if='hasAuthorisation && selectedClosestBin'>
  <ion-content>
    <img class='cagol-bin-image' src='https://cagol-api.herokuapp.com/v1/bins/{{ selectedBin._id }}/image' />

    <div class='cagol-bin-map-container'>
      <ui-gmap-google-map center='map.center' zoom='18'>
        <ui-gmap-marker
          idKey='selectedBin._id'
          coords='selectedBin.position'
          >
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

    <button class="button button-positive cagol-button"
            data-ng-click='depositRubbish()'>
      <i class='icon ion-trash-b'></i>
      Make Deposit
    </button>

    <button class="button button-light cagol-button"
            data-ng-click='init()'>
      <i class='icon ion-arrow-left-a'></i>
      Go Back
    </button>
  </ion-content>
</ion-view>
