.angular-google-map-container { 
  height: 200px; 
}

.cagol-button {
  box-sizing: border-box;
  font-size: 20px;
  margin: 10px 2.5% 10px 2.5%;
  padding: 10px 0 10px 0;
  width: 95%;
}

.cagol-facebook-button {
  background-color: #3b5998;
  box-sizing: border-box;
  color: White;
  font-size: 24px;
  margin: 20px 2.5% 0 2.5%;
  padding: 10px;
  width: 95%;
}

.cagol-facebook-button-icon {
  padding-right: 10px;
}

.cagol-facebook-button-text {
  padding: 5px 0 0 0;
  vertical-align: bottom;
}

.cagol-menu-profile {
  text-align: center;
}

.cagol-menu-profile-image {
  border-radius: 50%;
  height: 50%;
  margin: 10px 0 10px 0;
  width: 50%;
}